@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes slideLeft{
    from{
        transform: translateX(650px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;

    }

}

@keyframes slideRight{
    from{
        transform: translateX(-750px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;

    }

}

@keyframes opacity{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;

    }

}



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #6699ff;
    

}


.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
    position: relative;

}


#grid {
    position: absolute;
    display: none;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 100%;

}

#grid p {
    border: 1px solid #000;
    margin: 0;
    opacity: 0.2;

}

header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

header img {
    grid-column: 9/11;
    align-self: center;
    width: 200%;

}

header nav {
    grid-column: 1/4;
    align-self: center;
    grid-row: 1/2;

}

header nav ul {
    margin: 0;
    padding: 0;
    float: right;

}

header nav ul li {
    display: inline;
    padding-left: 10px;
    

}

header nav ul li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
    transition-timing-function: ease-in;

}

header nav ul li a:hover {
    transform: translateY(-10px);
    color: #000066;

}

footer {
    grid-column: 1/13;
    grid-row: 13/14;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

footer img {
    grid-column: 1/3;
    align-self: center;
    width: 100%;

}

footer nav {
    grid-column: 9/12;
    align-self: center;
    grid-row: 1/2;

}

footer nav ul {
    margin: 0;
    padding: 0;
    float: right;

}

footer nav ul li {
    display: inline;
    padding-left: 10px;
    

}

footer nav ul li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
    transition-timing-function: ease-in;

}

footer nav ul li a:hover {
    transform: translateY(-10px);
    color: #000066;

}

.start-text {
    grid-column: 2/8;
    align-self: center;
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.start-image {
    grid-column: 8/12;
    align-self: center;
    animation-name: slideLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;


}

.start-image img {
    width: 115%;
    

}

h1 {
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;
    color: #fff;
    margin: 0;
    

}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;

}

h3 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 800;
    color: #000066

}

.button {
    padding: 15px 30px;
    background-color: #ed1d24;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.5s;
    transition-timing-function: ease-in;

}

.button:hover {

    background-color: #000066;
}

.title {
    grid-column: 1/13;
    text-align: center;

}

h2 {
    color: #fff;
    font-size: 30px;

}

.friend-text {
    grid-column: 7/13;
    align-self: center;
    grid-row: 3/4;
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    

}

.friend-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.friend-image {
    grid-column: 2/6;
    align-self: center;
    grid-row: 3/4;
    animation-name: slideRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;


}

.friend-image img {
    width: 75%;

}

p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;

}

.time-text {
    grid-column: 2/6;
    align-self: center;
    grid-row: 5/6;
    animation-name: opacity;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

.time-image {
    grid-column: 8/12;
    align-self: center;
    grid-row: 5/6;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;


}

.time-image img {
    width: 75%;

}

.time-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}


.knux-text {
    grid-column: 8/12;
    align-self: center;
    grid-row: 6/7;
    animation-name: opacity;
    animation-duration: 2.6s;
    animation-timing-function: ease-out;

}

.knux-image {
    grid-column: 2/6;
    align-self: center;
    grid-row: 6/7;
    animation-name: slideRight;
    animation-duration: 2.6s;
    animation-timing-function: ease-out;


}

.knux-image img {
    width: 85%;

}

.knux-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.chaos-text {
    grid-column: 2/6;
    align-self: center;
    grid-row: 7/8;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-out;

}

.chaos-image {
    grid-column: 8/12;
    align-self: center;
    grid-row: 7/8;
    animation-name: slideLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;


}

.chaos-image img {
    width: 85%;

}

.chaos-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.shadow-text {
    grid-column: 7/12;
    align-self: center;
    grid-row: 8/9;
    animation-name: opacity;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;

}

.shadow-image {
    grid-column: 2/6;
    align-self: center;
    grid-row: 8/9;
    animation-name: slideRight;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;


}

.shadow-image img {
    width: 100%;

}

.shadow-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.misstep-text {
    grid-column: 2/6;
    align-self: center;
    grid-row: 9/10;
    animation-name: opacity;
    animation-duration: 4s;
    animation-timing-function: ease-out;

}

.misstep-image {
    grid-column: 8/12;
    align-self: center;
    grid-row: 9/10;
    animation-name: slideLeft;
    animation-duration: 4s;
    animation-timing-function: ease-out;


}

.misstep-image img {
    width: 85%;

}

.misstep-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.joy-text {
    grid-column: 7/12;
    align-self: center;
    grid-row: 10/11;
    animation-name: opacity;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;

}

.joy-image {
    grid-column: 2/6;
    align-self: center;
    grid-row: 10/11;
    animation-name: slideRight;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;


}

.joy-image img {
    width: 100%;

}

.joy-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

.camera-text {
    grid-column: 2/6;
    align-self: center;
    grid-row: 11/12;

}

.camera-image {
    grid-column: 8/12;
    align-self: center;
    grid-row: 11/12;
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;


}

.camera-image img {
    width: 65%;

}

.camera-text h2 {
    
    font-size: 54px;
    line-height: 60px;
    font-weight: 800;

}

@media screen and (max-width: 1190px) {

    header img {
        grid-column: 9/11;
        width: 200%;
    
    }
    
    header nav {
        grid-column: 2/7;
        align-self: center;
    
    }

    footer img {
        grid-column: 1/3;
        width: 200%;
    
    }
    
    footer nav {
        grid-column: 2/7;
        align-self: center;
    
    }

    .start-text {
        grid-column: 2/8;
    
    }
    
    .start-image {
        grid-column: 8/12;
        align-self: center;
    
    }
    

}


@media screen and (max-width: 768px) {
    
    header nav {
        grid-column: 2/7;
        align-self: center;
        width: 100%;
        display: none;
    
    }

    footer nav {
        grid-column: 2/7;
        align-self: center;
        width: 100%;
        display: none;
    
    }

    #menuToggle {
        display: block !important;
    }

    .start-text {
        grid-column: 2/7;
        font-size: 50px;
    
    }
    
    .start-image {
        grid-column: 7/12;
    
    }
    

}


@media screen and (max-width: 480px) {
    
    header {
        background-color: #000066;
    }

    header nav ul {
        grid-column: 2/7;
        align-self: center;
        width: 100%;
        display: none;
    
    }

    footer {
        background-color: #000066;
    }

    footer nav ul {
        grid-column: 2/7;
        align-self: center;
        width: 100%;
        display: none;
    
    }

    
    .start-text {
        grid-column: 3/8;
        font-size: 50px;
    
    }
    
    .start-image {
        grid-column: 8/12;
    
    }
    
    h1 {
        font-size: 24px;
        line-height: 30px;
    
    }

    
    h4 {
        font-size: 17px;
        line-height: 25px;
    
    }
    
    h3 {
        font-size: 13px;
        line-height: 25px;
        font-weight: 800;
        color: #000066
    
    }

    .button {
        padding: 5px 15px;
        background-color: #ed1d24;
        display: inline-block;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    
    }

    .friend-text {
        grid-column: 8/12;
        align-self: center;
    
    }
    
    .friend-image {
        grid-column: 3/7;
        align-self: center;
    
    }
    
    .friend-image img {
        width: 75%;
    
    }

    
    .friend-text h2 {
        font-size: 24px;
        line-height: 25px;
    
    }

    .friend-text p {
        font-size: 15px;
        line-height: 25px;
    
    }
    
    
    .time-text {
        grid-column: 3/8;
        align-self: center;
    
    }
    
    .time-image {
        grid-column: 9/12;
        align-self: center;
        grid-row: 5/6;
    
    }
    .time-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .knux-text {
        grid-column: 8/12;
        align-self: center;
        grid-row: 6/7;
    
    }
    
    .knux-image {
        grid-column: 3/8;
        align-self: center;
        grid-row: 6/7;
    
    }
    .knux-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    p {
        color: #fff;
        font-size: 15px;
        line-height: 20px;
    }

    #menuToggle {
        display: block !important;
    }

    .exp-image img {
        width: 100%;
    
    }

    .chaos-text {
        grid-column: 3/8;
        align-self: center;
        grid-row: 7/8;
    
    }
    
    .chaos-image {
        grid-column: 9/12;
        align-self: center;
        grid-row: 7/8;
    
    }

    .chaos-image img {
        width: 115%;
    }

    .chaos-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .shadow-text {
        grid-column: 7/12;
        align-self: center;
        grid-row: 8/9;
    
    }
    
    .shadow-image {
        grid-column: 3/5;
        align-self: center;
        grid-row: 8/9;
    
    }

    .shadow-image img {
        width: 175%;

    }
    .shadow-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .misstep-text {
        grid-column: 3/7;
        align-self: center;
        grid-row: 9/10;
    
    }
    
    .misstep-image {
        grid-column: 8/12;
        align-self: center;
        grid-row: 9/10;
    
    }

    .misstep-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .joy-text {
        grid-column: 7/12;
        align-self: center;
        grid-row: 10/11;
    
    }
    
    .joy-image {
        grid-column: 2/5;
        align-self: center;
        grid-row: 10/11;
    
    }

    .joy-image img {
        width: 135%;
    }

    .joy-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .camera-text {
        grid-column: 3/8;
        align-self: center;
        grid-row: 11/12;
    
    }
    
    .camera-image {
        grid-column: 9/12;
        align-self: center;
        grid-row: 11/12;
    
    }

    .camera-image img {
        width: 100%;
    }

    .camera-text h2 {
        font-size: 24px;
        line-height: 30px;
    }

    

}

#menuToggle
{
  display: none;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #fff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #000066;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  opacity: 85%;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}